<nav class="topbar">
      <%= link_to root_path do %>
            <div class="titleheader">

                <%= image_tag 'itsaspaceship.png', :class => "logo-head2" %>
            </div>
      <% end %>

      <ul>
        <li><%= link_to root_path do %><i class="fa fa-rocket"></i><% end %></li>
        <li><%= link_to pages_services_path do %><i class="fa fa-ship"></i><% end %></li>
        <li><%= link_to pages_culture_path do %><i class="fa fa-subway"></i><% end %></li>
        <li><%= link_to pages_shop_path do %><i class="fa fa-truck"></i><% end %></li>
      </ul>

</nav>



